@import "../../stylesheets/custom";
@import "../../stylesheets/_globalcolors";

.customtext {
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  font-variant:small-caps;
  font-size: 144px;
  -webkit-transform: skew(-15deg,-15deg);
  float:left;
  background-image: -webkit-linear-gradient(#272e72ff 0%,  #afbbf2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #272e72ff);
  opacity: 0.17;
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .customtext {
    font-size: 79px;
  }
}
@media (max-width:600px) {
  .customtext {
  font-size: 45px;
  }
}
