.Tech {
  text-align: left;
  text-decoration: none !important;
  display: inline-flex;
  flex-direction: column;
  margin-left: 15%;
}
.App-Content {
  width: 90%;
  height: auto;
  display: flex;
  margin: 2.2% 8% 8%;
  background-color: white;
  border-radius: 10px;
  border: #e2effc 1px solid;
  padding: 5%;
  text-align: left;
  flex-direction: column;
  transition: all .5s;
}
.skill-img {
  width: 15vh;
  padding: 5px;
}
