

// text colors light theme
$titleColor: #000000;
$textColor: #000000;
$subTitle: #868e96;
$cardSubtitle: #666666;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #262626;

// button colors

$buttonColor: #66fcf1;
$buttonHover: #868dc3;
$topButtonHover: #adb8d1;
