@import "../../stylesheets/custom";
@import "../../stylesheets/_globalcolors";

.white {
  background-color: white;
  z-index: 1000;
}

.about-section{
}

.about-text {
  h3 {
    font-weight: 700;
    font-size: 26px;
  }
}